


body {
  background-color: #C0C0C0;
}
.music-player {
	width: 800px;
}
input {
	width:800px;
	line-height: 30px;
	margin: 20px 0;
	font-size: 20px;
}
.container {
	width:850px;
	margin: auto;
	text-align: center;
}
.search {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	margin: 20px;

}
.results {
	text-align: left; 
	padding:0 20px;
	width:800px;

}
.resultlist {
	text-align: center;
	width: 850px;
	display: flex;
	flex-wrap: wrap;
	
}
.searchresult {
	width:150px;
	padding: 10px;
}